.venuestotheleft {
  float: left;
}
.bandstotheright {
  float: right;
}
body {
  background-image: url("http://karlking.us/images/bandshell_silhouette.jpg");
  color: white;
}
a {
  color: green;
}
a:hover, a:focus {
    text-decoration:underline;
    color: white;
}
input {
  color: grey;
}
.greytext {
  color: black;
}
